<!DOCTYPE HTML>
<html>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<%= require('html-loader!../layout/lib-froala.html') %>
<title>新增卡券</title>
</head>
<!-- <script src="https://dn-bts.qbox.me/sdk/bugtags-1.0.3.js"></script>
<script>
    // VERSION_NAME 替换为项目的版本，VERSION_CODE 替换为项目的子版本
    new Bugtags('a83aef12b864a70d4db84f7a160fc134','1.0','1.0');
</script> -->
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.js"></script> 

<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	运营管理
	<span class="c-gray en">&gt;</span>
	新增卡券
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<a class="btn btn-primary radius" href="javascript:;" onclick="javascript:history.back(1);"><i class="Hui-iconfont">&#xe67d;</i> </a>  


<div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	<div >
			<div id="modalbody" class="modal-body">
				<div class="form form-horizontal" id="form-member-add" style="margin-right: 30px;margin-left: 3%">
					<div class="row cl">
							<label class="" ><span class="c-red">*</span>卡券名称：<input type="text" name="" id="card_title"  style="width:50%" class="input-text"></label>
					</div>
					<div class="row cl">
							<label class="" ><span class="c-red">*</span>卡券简介：<input type="text" name="" id="card_introduce" placeholder="卡券商品简介限制39个字" style="width:50%" class="input-text"></label>
					</div>
					<div class="row cl">
                            <label class=""><span class="c-red">*</span>权限分组：<span class="select-box" style="width: 50%;margin-left: 3px;">
                                <select class="select" size="1" id="powerUser" name="power">
                                    <option value="1">全部</option>
                                    <option value="2">玩玩会员</option>
                                    <option value="2">歌林业主</option>
                                    <option value="3">歌林员工</option>
                                </select>
                                </span>
                            </label>
                        </div>
					<div class="row cl">
							<label class="" ><span class="c-red">*</span>是否推送：<input type="checkbox" checked="checked" onclick="onClickHander(this)" id="is_pushed">&nbsp;
							<input type="text" name="" id="notify_content" placeholder="输入推送内容" style="width:49.2%;" class="input-text">
							</label>
					</div>
					<div class="row cl"  id="push_time_div">
							<label class=""><span class="c-red"></span><span style="margin-left: 6.2%"></span></label>
								<input type="text" placeholder="选择推送时间" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="push_time" class="input-text Wdate" style="width:160px;">
					</div>
					<div class="row cl">
							<label class="" ><span class="c-red">*</span>限用地点：<input type="text" name="" id="card_place" placeholder="卡券限用的地点" style="width:50%" class="input-text"></label>
					</div>
					<div class="row cl"  >
						<label class="" ><span class="c-red">*</span>卡券数量：<input type="text" name="" id="card_num" style="width:50%" class="input-text"></label>
					</div>
					<div class="row cl"  >
						<label class="" ><span class="c-red">*</span>限购数量：<input type="text" name="" id="purchase_num" style="width:50%" class="input-text"></label>
					</div>
					<div class="row cl"  >
							<label class=""><span class="c-red">*</span>卡券类型：<span class="select-box" style="width: 50%;margin-left: 0">
								<select class="select" size="1" id="product_type" name="city">
									<option value="0" selected>目前只支持卡券</option>
								 	<option value="2">卡券</option>
								<!--	<option value="1">钱包</option> -->
								</select>
								</span> 
						</label>
					</div>
					<div class="row cl"  >
							<label class=""><span class="c-red">*</span>支付方式：<span class="select-box" style="width: 50%;margin-left: 0">
								<select class="select" size="1" id="pay_way" name="city">
									<option value="" selected>请选择支付方式</option>
									<option value="2">绿豆</option>
									<option value="1">钱包</option>
								</select>
								</span> 
						</label>
					</div>
					<div class="row cl"  >
							<label class=""><span class="c-red">*</span>卡券价格：<input type="text" name="" id="card_price" style="width:50%" class="input-text">
								</label>
					</div>
					<div class="row cl"  >
							<label class=""><span class="c-red">*</span>上架时间：</label>
								<input type="text" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="card_putaway_time" class="input-text Wdate" style="width:160px;">
					</div>
					<div class="row cl"  >
							<label class=""><span class="c-red">*</span>购买期限：</label>
								<input type="text" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="cardpurchase_start_time" class="input-text Wdate" style="width:160px;">
								&nbsp;&nbsp;-&nbsp;&nbsp;
								<input type="text" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="cardpurchase_end_time" class="input-text Wdate" style="width:160px;">
					</div>
					<div class="row cl"  >
							<label class=""><span class="c-red">*</span>有效期限：</label>
								<input type="text" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="card_start_time" class="input-text Wdate" style="width:160px;">
								&nbsp;&nbsp;-&nbsp;&nbsp;
								<input type="text" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="card_end_time" class="input-text Wdate" style="width:160px;">
					</div>
						
					<div class="row cl"  >
							<label class=""><span class="c-red">*</span>标题图片(168x168)：</label>
							<form enctype="multipart/form-data" method="post" id="titlePicForm">
								<div style="margin-left: 77px">
									<div class="img-container" id="titlePicContainer" ></div>
	           						 <input class="img-btn" type="file" id="titlePic" >
	           					</div>
           					</form>
       				</div>
       					 
       				<div class="row cl"  >
							<label class=""><span class="c-red">*</span>封面图片(750x900)：</label>
							<div style="margin-left: 77px">
								<div class="img-container-card" id="coverPicContainer"></div>
           						 <input class="img-btn-card" type="file"  id="coverPic" >
           					</div>
       				</div>
            
					<div class="row cl"  >
							<label class="">卡券介绍：</label>
							<!-- 
								<script id="editor" type="text/plain" style="width:100%;height:300px;"></script> -->
								<div id='card_content'   style="margin-top: 10px;margin-left: 77px; width:709px;" ></div> 
								<!--    <div id='edit' style="width:55%"> -->
      				</div>
						
					<div class="row cl"  >
							<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" style="margin-left: 22%">
								<span id="Tip"  style="color: red"></span>
							</div>
					</div>
					<div class="row cl"  >
							<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" style="margin-left: 20%">
								<input class="btn btn-primary radius" readonly="readonly"  id='btnaddSubmit' value="提交">
							</div>
					</div>
				</div>
				</div>
			</div>
		</div>
</div>
<%= require('html-loader!../layout/js-huiandfroala.html') %>
<script type="text/javascript" src="../../lib/picreview.js"></script>

</body>
</html>