<!DOCTYPE HTML>
<html>

<head>
    <%= require('html-loader!../layout/lib-froala.html') %>
        <%= require('html-loader!../layout/lib-head.html') %>
            <title>公告添加</title>
</head>
<script src="https://dn-bts.qbox.me/sdk/bugtags-1.0.3.js"></script>
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.js"></script>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 运营管理
        <span class="c-gray en">&gt;</span> 公告添加
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="page-container">
        <a class="btn btn-primary radius" href="javascript:;" onclick="javascript:history.go(-1);"><i class="Hui-iconfont">&#xe67d;</i> </a>
        <div tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div>
                <div id="modalbody" class="modal-body">
                    <div class="form form-horizontal" id="form-member-add" style="margin-right: 30px;margin-left: 3%">
                        <div class="row cl">
                            <label class="label-seller"><span class="c-red">*</span>公告类型：
                                <span class="select-box" style="width: 10%;min-width: 147px;">
                                  <select class="select infoType" size="1" name="infoType">
                                      <option value="0">请选择类型</option>
                                      <option value="1">资讯</option>
                                      <!-- 暂定不删 -->
<!--                                  <option value="2">业主通知</option>
                                      <option value="3">运营推荐</option> -->
                                  </select>
                              </span>
                            </label>
                        </div>
                        <div class="row cl">
                            <label class=""><span class="c-red">*</span>公告名称：
                                <input type="text" name="" id="information_title" placeholder="公告名称 限30个字" style="width:50%" class="input-text" maxlength="30">
                            </label>
                        </div>
                        <!-- <div class="row cl">
                            <label class="label-seller"><span class="c-red">*</span>资讯发布：
                                <span class="select-box" style="width: 10%;min-width: 147px;">
                                    <select class="select sellerUser" size="1" name="seller">
                                        <option value="1">会员部</option>
                                        <option value="2">食堂</option>
                                    </select>
                                </span>
                            </label>
                            <label for="" class="Hui-iconfont">&#xe600;<a href="../activity/activity-publisher.html">添加发布者</a></label>
                        </div> -->
                        <div class="row cl" style="margin-bottom: 0px;" id="powerUserDis">
                            <label class="label-power"><span class="c-red fl">*</span><span class="fl">公告角色：</span>
                                <ul class="powerBox">
                                    <li class="powerBlock">
                                        <label class="powerOn">
                                            <span class="powerName">数据错误时出现</span>
                                            <span class="powerSet">设置</span>
                                            <span class="powerEdit">重置</span>
                                        </label>
                                    </li>
                                </ul>
                            </label>
                            <label for="" class="Hui-iconfont">&#xe600;<a href="../role/role-sel.html">添加权限</a></label>
                        </div>
                        <div class="row cl">
                            <label class=""><span class="c-red">*</span>列表图片(670x300)：</label>
                            <form enctype="multipart/form-data" method="post" id="titlePicForm">
                                <div style="margin-left: 77px">
                                    <div class="img-container-infoTitle" id="titlePicContainer"></div>
                                    <input class="img-btn-infoTitle" type="file" id="titlePic">
                                </div>
                            </form>
                        </div>
                        <div class="row cl">
                            <label class=""><span class="c-red">*</span>详情图片(750x400)：</label>
                            <div style="margin-left: 77px">
                                <div class="img-container-infoCover" id="coverPicContainer"></div>
                                <input class="img-btn-infoCover" type="file" id="coverPic">
                            </div>
                        </div>
                        <!-- 暂定不删 -->
                        <!-- <div class="row cl" id="infoContentDis">
                            <label><span class="c-red">*</span>推荐内容:</label>
                            推荐内容类型：<span class="dis-none adContentType adContent"></span> 推荐内容ID：
                            <span class="dis-none adContentId adContent"></span>
                            <input class="btn radius btn-primary" value="选择" type="button" onclick="btnAddContent();">
                        </div> -->
                        <div class="row cl">
                            <label class=""><span class="c-red">*</span>公告内容：</label>
                            <div id='information_content' style="margin-top: 10px;margin-left: 77px; width:709px;"></div>
                        </div>
                        <div class="row cl">
                            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" style="margin-left: 22%">
                                <span id="Tip" style="color: red"></span>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" style="margin-left: 20%">
                                <input class="btn btn-primary radius" readonly="readonly" value="新增提交" id="addSubmit">
                            </div>
                            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" style="margin-left: 20%">
                                <input class="btn btn-primary radius" readonly="readonly" value="编辑提交" id="editSubmit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 权限设置对话框 -->
    <div id="addSetPower" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-left: 20%;">
            <div class="modal-content radius" style="width: 800px">
                <div class="modal-header">
                    <h3 class="modal-title">权限设置</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                </div>
                <div class="modal-body">
                    <!-- <article class="page-container"> -->
                    <form action="" method="post" class="form form-horizontal" id="form-member-add" style="margin-right: 200px">
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限名称：</label>
                            <div class="formControls col-xs-8 col-sm-9" style="padding-left: 0px;">
                                <input type="text" class="input-text" id="power-input-name" readonly="readonly" data-roleId="-1" style="width:50%">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否推送：</label>
                            <input type="checkbox" checked="checked" onclick="onClickHander(this)" id="is_pushed" style="display: inline-block;">
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" name="" id="notify_content" placeholder="输入推送内容" style="width:100%;" class="input-text">
                            </div>
                        </div>
                        <div class="row cl" id="push_time_div">
                            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span><span style="margin-left: 6.2%"></span></label>
                            <input type="text" placeholder="选择推送时间" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="push_time" class="input-text Wdate" style="width:160px;">
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>发布时间：</label>
                            <input type="text" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="publish_start_time" class="input-text Wdate" style="width:160px;">
                        </div>
                        <div class="row cl">
                            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" align="center">
                                <input class="btn btn-primary radius" readonly="readonly" value="提交" onclick="setPowerSubmit();">
                            </div>
                        </div>
                    </form>
                    <!-- </article> -->
                </div>
                <div class="modal-footer">
                    <!-- <button class="btn btn-primary">确定</button> -->
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 暂定不删 -->
    <!-- <div id="modal-infoContent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <div class="modal-header">
                    <h3 class="modal-title">选择商品</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
                </div>
                <div class="modal-body">
                    <label class="">
                        <span class="select-box" style="width: 20%;margin-left: 0px;">
                            <select class="select" size="1" id="adsense_type" name="adContentType">
                                <option value="0" selected>类型筛选</option>
                                <option value="1">活动</option>
                                <option value="2">卡券</option>
                                <option value="3">竞猜</option>
                                <option value="4">评选</option>
                                <option value="5">资讯</option>
                            </select>
                        </span>
                    </label>
                    <label class="">
                        <input type="text" placeholder="商品名称搜索" class="input-text" style="width: 40%;margin-left: 20px;" id="sel_input">
                    </label>
                    <button name="" class="btn btn-success" id="btnselSubmit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                    <table class="table table-border table-bordered table-bg table-hover table-sort" style="margin-top: 20px;">
                        <thead>
                            <tr class="text-c">
                                <th>ID</th>
                                <th>名称</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="selCardbody">
                            <tr class="text-c">
                                <td class="card_id">15686</td>
                                <td class="card_name">怪兽大国林</td>
                                <td>2014-6-11 11:11:42</td>
                                <td>
                                    <a title="选择" href="javascript:;" class="ml-5 btn_select" style="text-decoration:none"><i class="Hui-iconfont">&#xe6a7;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="pageNav" class="pageNav"></div>
                    <div id="page" align="center" class="page_div"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div> -->
    <%= require('html-loader!../layout/js-huiandfroala.html') %>
        <script type="text/javascript" src="../../lib/picreview.js"></script>
</body>

</html>